
.container {
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 5rem; */
    margin-top: 200px;
}

.admin-users-section {
    background-color: black;
    box-shadow: 1px 1px 11px 1px rgb(249, 89, 164);
    padding: 20px;
    color: #a83279;
    border-radius: 50px;
    width: 800px;
}

.admin-users {
    max-width: 100%;
    margin: 0 auto;
    background-color: black;
    padding: 1rem; /* Reduced padding */
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}

.admin-users h1 {
    color: #a83279;
    text-align: left; /* Changed alignment */
    margin-bottom: 1rem;
    font-size: 1.5rem; /* Adjusted font size */
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 2rem; /* Added margin-bottom */
}
thead tr{
    border-radius: 30px;
}

thead th {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1rem;
}

tbody tr {
    border-bottom: 1px solid #444;
}
tr:hover {
    background-color: #393737;
}

tbody td {
    padding: 1rem;
    font-size: 1rem;
    color: #ccc;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #3498db;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;;
}

.button2{
    background-color: #e74c3c;
}
.button2:hover{
    background-color: #c0392b;
}

/* AdminIncidents.css */


.admin-incidents-section{
    box-shadow: 1px 1px 11px 1px rgb(249, 89, 164);
    margin-top: 130px;
    background-color: black;
    padding: 20px;
    color: #a83279;
    border-radius: 50px;
    width: 900px;
}

.admin-incidents-section .title {
    font-size: 40px;
    font-weight: bold;
    color:#a83279;
}

.incidents-table-container {
    margin-top: 15px;
}

.table-wrapper {
    max-height: 400px; /* Set the maximum height for the table body */
    overflow-y: auto; /* Enable vertical scrolling */
}

.incidents-table {
    width: 100%;
    border-collapse: collapse;
}

.table-cell {
    padding: 12px;
}

.table-row:hover {
    background-color: #393737;
}

.edit-btn-icon {
    background-color: #3498db;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn-icon:hover {
    background-color: #2980b9;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #c0392b;
}

.location{
    display: flex;
    flex-direction: column;
}

.admin-contact-section{
    box-shadow: 1px 1px 11px 1px rgb(249, 89, 164);
    margin-top: 100px;
    background-color: black;
    padding: 20px;
    color: #a83279;
    border-radius: 50px;
    width: 900px;
    
}