@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  header {
    flex-shrink: 0;
  }
  
  footer {
    flex-shrink: 0;
  }
  
  .content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: rgb(236 72 153);
  }
  
  .text-gradient {
    background: linear-gradient(102.2deg, rgb(252, 40, 154) -9.9%, rgb(224, 125, 154) 34.7%, rgb(250, 165, 147) 89.1%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
 /* Hide Google Translate logo & extra text */
.goog-logo-link,

.goog-te-gadget-simple img {
  display: none !important;
}

/* Style dropdown */
.translate-container select {
  background: transparent !important;
  color: white !important;
  border: 1px solid #ff69b4 !important;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

/* Ensure translate box is well-aligned */
.custom-translate {
  display: flex;
  align-items: center;
  justify-content: center;
}
